<div id="banner">
    <!-- <ul class="banner-ul">
        <li><img class="l" src="https://res.vmallres.com/pimages//pages/picImages/13927832313613872931c.jpg" alt=""></li>
        <li><img class="l" src="https://res.vmallres.com/pimages//pages/picImages/SvoDG8hGzgJRqyqqDy3M.jpg" alt=""></li>
        <li><img class="l" src="https://res.vmallres.com/pimages//pages/picImages/umfjbo8MJzplGtwWvECR.jpg" alt=""></li>
        <li><img class="l" src="https://res.vmallres.com/pimages//pages/picImages/XmPuLTHlBHxaJFMl8Zh9.jpg" alt=""></li>
    </ul>
    
    <ol class="banner-ol">
        <li class="l active"></li>
        <li class="l"></li>
        <li class="l"></li>
        <li class="l"></li>
    </ol> -->
</div>


