<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <link rel="stylesheet" href="/static/icon/font/iconfont.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/lib/require.js" data-main="/js/index.js"></script>
</head>
<body>
    @include('head.html',{isShow:true})
    <nav>
        <div class="w">
            <div class="fir">
                <span class="l"><img class="l" src="/static/img/vmall_logo.png" alt=""></span>
                <ul>
                    <li class="l"><a href="">华为专区</a></li>
                    <li class="l"><a href="">鸿蒙智联</a></li>
                    <li class="l"><a href="">莫塞尔</a></li>
                    <li class="l"><a href="">华为智选</a></li>
                    <li class="l"><a href="">HarmonyOS</a></li>
                    <li class="l"><a href="">特惠企采</a></li>
                    <li class="l"><a href="">教育商店</a></li>
                </ul>
                <span class="iconfont r"><a href="javascript:;">&#xe62f;</a></span>
            </div>
            <div class="sec">
                <span class="iconfont l"><a href="">&#xe62f;</a></span>
                <input type="text" value="搜索商品" class="l input">
                <span class="l del"><a href="javascript:;">×</a></span>
                <ul></ul>
            </div>
        </div>
    </nav>
    @include('banner.html')
    <main>
        <div class="w">
            <ul class="goods">
                <li class="active l">手机</li>
                <li class="l">笔记本</li>
                <li class="l">平板</li>
            </ul>
            <div class="goods-container">
                <ul class="goods-phone show">
                    <!-- <li class="l">
                        <a href="">
                            <img src="https://res0.vmallres.com/pimages//product/6901443331109/428_428_9DF9BF94A5C5575108AF27F42DEEA8415F70E58F97882DEDmp.png" alt="">
                            <h2>华为</h2>
                            <p>折叠万象</p>
                            <p>￥8988</p>
                            <span>赠送积分</span>
                        </a>
                    </li> -->
                </ul>
                <ul class="goods-book"></ul>
                <ul class="goods-pad"></ul>
            </div>
            
        </div>
    </main>
    @include('foot.html')
</body>
</html>