#banner{
    position: relative;
    width: 1536px;
    height: 550px;
    .banner-ul{
        width: 6144px;
        height: 550px;
        overflow: hidden;
        position: absolute;
        li{
            width: 1536px;
            height: 550px;
            img{
                width: 1536px;
                height: 550px;
            }
        }
    }
    .banner-ol{
        position: absolute;
        bottom: 30px;
        right: 40px;
        li{
            width: 15px;
            height: 15px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: 10px;
        }
        .active{
            background-color: burlywood;
        }
    }
}

